<mat-toolbar class="header" color="primary">
    <mat-toolbar-row>
        <span>Van Go Far</span>
        <span class="spacer"></span>
        <button mat-icon-button>
            <mat-icon>search</mat-icon>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <p>
            <span id="points-span">721</span>
            <span id="points-text-span"> points</span>
        </p>
    </mat-toolbar-row>
</mat-toolbar>
<div id="content">
    <mat-card *ngFor="let coupon of coupons">
        <div>
            <div>
                <div class="card-title-row">
                    <div class="thumb">
                        <img [src]="coupon.image">
                    </div>
                    <div class="details">
                        <h1>{{coupon.name}}</h1>
                        <div>{{coupon.subtitle}}</div>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-actions align="end">
            <button mat-button color="primary">Redeem ({{coupon.points}} miles)</button>
            <button mat-button>Info</button>
        </mat-card-actions>
    </mat-card>
</div>
<app-bottom-nav></app-bottom-nav>