<mat-toolbar class="header" color="primary">
    <span>Project Red Van</span>
    <span class="spacer"></span>
    <button mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>
<div id="content">
    <mat-card *ngFor="let article of articles" [routerLink]="['/article', article.id]">
        <mat-card-title>
            <mat-icon color='primary'>{{article.icon}}</mat-icon>
            {{article.title}}
        </mat-card-title>
        <mat-card-subtitle>{{article.subtitle}}</mat-card-subtitle>
        <mat-card-content>
            {{article.content.substring(0, 100)}}...
        </mat-card-content>
    </mat-card>
</div>
<app-bottom-nav></app-bottom-nav>