<ngx-bottom-nav>
    <button ngx-bottom-nav label="Itinerary" routerLink="/itinerary">
      <mat-icon ngxBottomNavIcon>calendar_today</mat-icon>
    </button>
  
    <button ngx-bottom-nav label="Guide" routerLink="/guide">
      <mat-icon ngxBottomNavIcon>book</mat-icon>
    </button>
  
    <button ngx-bottom-nav label="Map" routerLink="/map">
      <mat-icon ngxBottomNavIcon>map</mat-icon>
    </button>

    <button ngx-bottom-nav label="Miles" routerLink="/miles">
        <mat-icon ngxBottomNavIcon>loyalty</mat-icon>
      </button>
  </ngx-bottom-nav>
  