<mat-toolbar class="header" color="primary">
    <span>Project Red Van</span>
    <button mat-icon-button class="">
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>
<div id="content">
    <mat-card *ngFor="let event of events" [routerLink]="['/event', event.id]">
        <mat-card-title>{{event.name}}</mat-card-title>
        <mat-card-subtitle>
            {{event.type}}
            <span *ngIf="event.time">: {{event.time}}</span>
        </mat-card-subtitle>
        <mat-card-content>
            {{event.description}}
        </mat-card-content> 
        <img mat-card-image *ngIf="event.image" [src]="event.image">
    </mat-card>
</div>